    body {
    margin: 0;
}
 Body{
  background-color: #38393e;
}

button2{
  background-color: #484f5a;
  border: none;
  position: absolute;
  left: 1270px;
  top: 0;
}

brubru{
  cursor: pointer;
  position: absolute;
  background-color: #484f5a;
  border: none;
  width: 80px;
  height: 70px;
  color: #a5a5a5;
  left: 1273px;
  top: 0px;
}
hr2 {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

bar {
    position: absolute;
    left: 225px;
}
 
h {
    position: absolute;
    top: 0px;
    left: 230px;
    
}
 
a  {cursor: default;
    color: white;}
    
 
extra {
        color: #292929;
    }
 
.top-container {
    padding: 0;
    margin: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #484f5a;
    font-size: 2em;
    font-weight: bold;
 
 
}
 
.top-container i {
    color: white;
    display: inline-block;
    text-align: left;
}
 
.top-container H2 {
    display: inline-block;
}
 
h2 {
    margin-top: 0;
}
 
/* Dropdown Button */
.dropbtn1 {
    position: absolute;
    background-color: #484f5a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: left;
    top: 10px;
    left: 1220px;
 
}
 
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn {
    background-color: 484f5a;
}
 
.vertical-menu {
    position: absolute;
    width: 225px; /* Set a width if you like */
    height: 481px;
    top:0px;
    left: 0px;
  }
  
  .vertical-menu a {
    background-color: #303136;/* Grey background color */
    color: #ffffff; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #292929; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    
    background-color:#303136; /* Add a green color to the "active/current" link */
    color: white;

     /* Dropdown Button */
.dropbtn {
  background-color: #484f5a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b5b5b5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 1110px;
  top: 70px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #545454;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #484f5a;}

/* Dropdown Button */
.dropbtn {
  background-color: #484f5a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b5b5b5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 1110px;
  top: 70px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #545454;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #484f5a;}

